<form method="post" action="{{ path('langages_delete', {'id': langage.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ langage.id) }}">
    <button class="btn">Delete</button>
</form>
