{% extends 'base.html.twig' %}

{% block title %}New Langages{% endblock %}

{% block body %}
    <h1>Create new Langages</h1>

    {{ include('langages/_form.html.twig') }}

    <a href="{{ path('langages_index') }}">back to list</a>
{% endblock %}
